<p>
  <%= question.name %> asked:
</p>
<p>
  <%= question.q %>
</p>
<% if question.a.presence %>
  <%= question.a %>
<% end %>
<p>
<% if current_user %>
  <% answer = question.a.presence ? "Change Answer" : "Answer" %>
  <%= link_to answer, edit_question_path(question.id) %>
<% end %>