<div class="left large-3 columns">
  <%= image_tag("garth.jpg") %>
</div>
<div class="left large-9 columns">
  <h1 class="subheader bio-title">Garth Nix</h1>
  <h2 class="bio-subtitle">Fantasy and Sci-Fi Author</h2>
  <p class="bio-text">
    <%= raw("Garth Nix grew up in Canberra. He studied for a BA in Professional Writing at the University of Canberra and has travelled to Europe, the Middle East and Asia. Garth has worked as a public servant, bookseller, book editor and literary agent.
    In 2002, following his outstanding international success, Garth returned to full-time writing (despite his belief that this contributes to the strange behaviour of many authors). As of July 2007, Garth’s books have sold in excess of 4,500,000 copies internationally.
    His books have appeared in the bestseller lists of the New York Times, the Sunday Times (UK), Publishers Weekly (US), The Australian, The Bookseller (UK) and Bookseller & Publisher (Australia). His books have been translated into more than 24 languages.
    Garth lives in Sydney with his wife Anna, who is a publisher, and their two sons.")
    %>
  </p>
</div>