<% if current_user %>
  <%= link_to "+ Book", new_book_path %>
<% end %>
<% if @books.present? %>
  <section id="books">
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
  </section>
<% end %>