<div class="row">
  <h1 class="subheader">Choose a Universe to Explore</h1>
  <section class="row">
    <div class="small-3 columns ">
      <h2 class="universe-header">
       The Old Kingdom
      </h2>
    </div>
    <div class="small-3 columns ">
      <h2 class="universe-header">
        The Seventh Tower
      </h2>
    </div>
    <div class="small-3 columns ">
      <h2 class="universe-header">
        The Keys to the Kingdom
      </h2>
    </div>
    <div class="small-3 columns ">
      <h2 class="universe-header">
        Trouble Twisters
      </h2>
    </div>
</div>