// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#book{
  width: 100%;
  overflow: hidden;
}
.book{
  float: left;
  position: relative;
  margin: 10px 10px 10px 10px;
}
.book .description{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
}
.book h2{

}