// Place all the styles related to the universes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$em-base: 16 !default;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-em($value)  {
  $value: strip-unit($value) / strip-unit($em-base) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

@function emCalc($values...) {
  $max: length($values); // Get the total number of parameters passed

  // If there is only 1 parameter, then return it as an integer.
  // This is done because a list can't be multiplied or divided even if it contains a single value
  @if $max == 1 { @return convert-to-em(nth($values, 1)); }

  $emValues: (); // This will eventually store the converted $values in a list
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i)));
  }
  @return $emValues;
}

html,body {  
  min-height: 100%;
  height: 100%;
  margin: 0;
  background-size: auto 100%;
}
footer{
  margin: -20px 0px 0px 5px;
  height: 30px;
  clear: both;
  color: #000;
  text-align: center;  
}
#wrap{
  margin-bottom: -25px;
  min-height: 100%;
}
#nav-title{
  color: #FFD700;
  font-family: "Elsie";
  text-transform: uppercase;
  font-size: emCalc(30px);
  text-shadow: 2px 2px 4px #B8860B;
}
header{
  border-bottom: 4px solid #B8860B;
  margin-bottom: emCalc(30px);
}
a.nav-link:link{
  color: #CCC;
  font-family: "Marko One";
  text-transform: uppercase;
}
a.nav-link:visited{
  color: #CCC;
}
a.nav-link:hover{
  text-shadow: 2px 2px 4px #FFF;
}
#universes{
  position: relative;
}
.universe-div{
  text-align: center;
  opacity: .6;
  padding: 5px 0px 10px 0px;
}
.universe-div:hover{
  text-align: center;
  opacity: 1;
}
.universe-div-clicked{
  z-index: 1;
  width: 100%;
  background-color: #141C15; 
  position: absolute;
  opacity: 1;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 7px solid #d4af37;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.universe-button-div{
  text-align: center;
  display: none;
}
#universes h2{
  color: #CCC;
  font-size: emCalc(15);
}
#universes button{
  position: relative;
  top: -75px;
  width: 100%;
  max-width: emCalc(125);
  border-left: 0;
  border-right: 0;
  color: #FFF;
  background-color: green;
  opacity: .7;
  text-transform: uppercase;
}
#universes button:hover{
  width: 100%;
  max-width: emCalc(125);
  border-left: 0;
  border-right: 0;
  color: #FFF;
  background-color: green;
  opacity: 1;
}
.content{
  color: #FFF;
}
.universe-div div.content{
  display: none;
}